Package: com.naken.qqlove
Name: QQLove
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Crash bug fixes for QQi
Maintainer: snakeninny
Author: snakeninny
Section: Tweaks
Homepage: http://iosre.com
